@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
.about
{
    width: 100%;
    padding: 78px 0px;
    background-color: #4a4948;
}
.about img
{
    height: auto;
    width: 420px;
    transition: none;
}
.about-text
{
width: 550px;
}
.main
{
    width:1130px;
max-width:95%;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-around;
}
.about-text h1 {
color: #f6a103;
font-size: 80px;
text-transform: capitalize;
margin-bottom: 20px;
position: relative;
animation:LeftToRight;
animation-duration: 5s;
}
.about-text h5 {
    color: #11c9d6;
    font-size: 25px;
    text-transform: capitalize;
margin-bottom: 25px;
letter-spacing:2px;
    }
    span
    {
        color:rgb(76, 222, 76);
    
    }
    .about-text p
    {
        color: rgba(251, 255, 250, 0.8);
        letter-spacing: 1px;
        line-height: 28px;
        font-size: 18px;
        margin-bottom:44px;
        animation:  animateSpan 4s 
    }
    button
    {
        background: #d61111;
        color: rgb(250, 250, 250);
        text-decoration: none;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 13px 30px;
        border-radius: 30px;
        animation-name: BottomToTop;
        animation-duration: 5s;
        }
    button:hover
    {
        background: rgb(5, 5, 5);
        border:  3px solid rgb(225, 32, 32);
        cursor: help;
        transition-duration: 1.5s;
        text-decoration-color: rgb(237, 13, 13);
        text-decoration: underline;
    }
    @keyframes  TopToBottom {      
        from {
            Top: 0;
        }
        to {
            bottom: 300px;
        }
    } 
    .peter {
        width: 100px;
        height: 100px;
        background-color: #4a4948;
        position: relative;
        top: 150px;
        animation:TopToBottom 4s ease-in-out;
        animation-duration: 5s;
    }
    @keyframes  LeftToRight{      
        0% {
            right:5000px;
        }
        20%{
            right: 2000px;
        }
        50%{
    right: 87px;
        }
        100%{
            right:1px;
        }
    } 


@keyframes animateSpan
{
    0%,50%
    {
        opacity:0;
    }
    50%
    {
        opacity:0.5;
    }
    100%
    {
        opacity:1;
    }
}
ul {
    flex: 1;
    text-align: left;
    padding-right:60px;
}
 li
{
display: inline-block;
margin:10px 40px;
}
 li a 
{
color: #fff;
text-decoration: turquoise;
letter-spacing: 1px;
font-size: 21px;
}
 li a:hover 
{
    transition: 1s;
color:#fff724;
}
.text-box {
    margin-top: 15%;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 26px;
}

.text-box a{
    margin-top: 30px;
    display: inline-block;
    border-radius: 6px;
    border: 2px solid #f1ea15;
    color:#fff724;
    padding:10px 30px;
    text-decoration: none;
    cursor: pointer;
        transition-duration: 1.5s;
}